[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spotipy = "2.16.1"
pytube = "2.16.1"
tqdm = "4.54.1"
rapidfuzz = "0.14.0"
requests = "2.25.0"
mutagen = "1.45.1"
click = "7.1.2"
colorama = "0.4.4"
Flask = "1.1.2"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
isort = "*"

[requires]
python_version = "3.8"
