[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jsonschema-objects = "*"
youtube-search-python = "*"
requests = "*"
moviepy = "*"
click = "*"
spotipy = "*"
mutagen = "*"
pytube = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
isort = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.8"
