[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-jsonschema-objects = "*"
youtube-search-python = "*"
requests = "*"
moviepy = "*"
spotipy = "*"
mutagen = "*"
pytube = "*"
mypy = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-monkeytype = "*"
monkeytype = "*"

[requires]
python_version = "3.8"
