anyio==3.3.1; python_full_version >= "3.6.2" and python_version >= "3.6"
attrs==21.2.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
cached-property==1.5.2
certifi==2021.5.30; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
charset-normalizer==2.0.6; python_full_version >= "3.6.0" and python_version >= "3.6"
colorama==0.4.4; python_version >= "2.7" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.5.0" and platform_system == "Windows"
decorator==4.4.2; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.2.0"
h11==0.12.0; python_version >= "3.6"
httpcore==0.13.7; python_version >= "3.6"
httpx==0.19.0; python_version >= "3.6"
idna==3.2; python_full_version >= "3.6.2" and python_version >= "3.6"
imageio-ffmpeg==0.4.5; python_version >= "3.4"
imageio==2.9.0; python_version >= "3.5"
importlib-metadata==1.7.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.5.0" and python_version < "3.8" and python_version >= "3.6"
inflection==0.5.1; python_version >= "3.5"
jsonschema==4.2.1
markdown==3.3.4; python_version >= "3.6"
moviepy==1.0.3
mutagen==1.45.1; python_version >= "3.5" and python_version < "4"
numpy==1.21.1; python_version >= "3.7"
pillow==8.3.2; python_version >= "3.6"
proglog==0.1.9
pyrsistent==0.18.0; python_version >= "3.6"
python-jsonschema-objects==0.4.0
pytube==11.0.1; python_version >= "3.6"
requests==2.32.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rfc3986==1.5.0; python_version >= "3.6"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
spotipy==2.19.0
tqdm==4.62.3; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
typing-extensions==3.10.0.2; python_full_version >= "3.6.2" and python_version >= "3.6" and python_version < "3.8"
urllib3==1.26.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
youtube-search-python==1.4.8; python_version >= "3.6"
zipp==3.5.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.5.0" and python_version < "3.8" and python_version >= "3.6"
