name: Code Coverage

on:
  push:
    paths:
    - 'dotify/**/*.py'
    - 'tests/**/*.py'
    - 'pyproject.toml'
    - 'poetry.lock'

jobs:
  codecov:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2

        - name: Set up Python 3.8
          uses: actions/setup-python@v2
          with:
            python-version: 3.8

        - name: Install Poetry
          uses: abatilo/actions-poetry@v2.1.4
          with:
            poetry-version: 1.1.6

        - name: Configure Poetry
          run: |
            poetry config virtualenvs.in-project true

        - name: Set up cache
          uses: actions/cache@v4.0.0
          with:
            path: .venv
            key: venv-${{ hashFiles('**/poetry.lock') }}

        - name: Install dependencies
          run: |
            poetry install

        - name: Generate the coverage report
          env:
            SPOTIFY_ID: ${{ secrets.SPOTIFY_ID }}
            SPOTIFY_SECRET: ${{ secrets.SPOTIFY_SECRET }}
          run: |
            poetry run python -m pytest -p no:sugar --cov=./dotify --cov-report=xml

        - name: Upload coverage report
          uses: codecov/codecov-action@v2
